@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    color: #6B7A99;
    background-color: #F7F8FA;
}
.NavBar {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.NavBar__Menu   {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 30px;
}
.NavBar__Icon {
    width: 35px;
}
.NavBar__Name {
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 90px;
}
.NavBar__ButtonsBox {
    margin-right: 90px;
}
.NavBar__Buttons {
    font-weight: bold;
    margin-left: 20px;
    position: relative;
    bottom: 5px;
}
.NavBar__Buttons:nth-child(1) {
    color: #8833FF;
}
.NavBar__Buttons-More {
    position: relative;
    top: 8px;
}
.NavBar__SearchBox {
    display: flex;
    background: #fff;
    height: 60px;
    padding: 10px;
    border-radius: 30px;
    margin-right: 90px;
}
.NavBar__SearchInput {
    width: 250px;
    font-size: 1em;
    border: 0px;
    opacity: .5;
    font-weight: bold;
    height: auto;
}
.NavBar__ActionBox {
    display: flex;
    flex-direction: row;
    gap: 24px;
    
}
.NavBar__Action {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    display: flex;
    place-content: center;
}
.NavBar__ActionIcon {
    width: 35px;
}
.NavBar__Action:nth-child(1) {
    background-color: rgba(136, 51, 255, .2);
}
.NavBar__Action:nth-child(1)::after {
    position: absolute;
    right: 0;
    content: '1';
    background-color: #8833FF;
    color:#fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}